nav {
  background-color: rgb(194, 220, 228);
}
nav a {
  margin: 30px;
  color: rgb(58, 57, 57);
  font-size: 25px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
nav a.active {
  color: red;
}
