.vending-machine {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

.home-page-links a {
  color: white;
  text-decoration: none;
}

.home-page-links a:hover {
  color: white;
  text-decoration: underline;
}
.home-page-links {
  margin-right: 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.home-message {
  background-color: black;
  margin-left: 80px;
  width: 400px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: aliceblue;
  font-weight: bold;
  text-transform: uppercase;
}
